In [1]:
import time
import re
import requests 
import numpy as np
import pandas as pd
import concurrent.futures

from bs4 import BeautifulSoup as bs

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import ElementNotInteractableException

## Webscraping notebook

All the data will be scared from https://plates.ae/plate.php .

### Load webpage and pull html elements

In [2]:
# Webdriver settings
options = Options()
driver_manager = ChromeDriverManager().install()
driver = webdriver.Chrome(driver_manager,
                          options=options)

# Open website
driver.implicitly_wait(5)
driver.get('https://plates.ae/plate.php')

# Infinite scroll down to the bottom of the website
SCROLL_PAUSE_TIME = 1
height_script = "return document.body.scrollHeight"
last_height = driver.execute_script(height_script)
while True:
    try:
        script = 'window.scrollTo(0, document.body.scrollHeight);'
        element_xpath = "//button[contains(text(), 'مشاهدة المزيد من اللوحات')]"

        # Scroll to the bottom of the page
        driver.execute_script(script)

        # Click the button at the end of the page
        driver.find_elements_by_xpath(element_xpath)[0].click()
        time.sleep(SCROLL_PAUSE_TIME)

        # Exit clause if end of page is reached
        new_height = driver.execute_script(height_script)
        if new_height == last_height:
            break
        last_height = new_height
    
    # Break out if button doesn't work
    # It should so this is in case of error
    except ElementNotInteractableException:
        break


# Find the html blocks we need for the number plates
border_selector = '.bntborder.padding-single'
plate_borders = driver.find_elements_by_css_selector(border_selector)



# Create a threadpool executor to speed up the i/o requests
with concurrent.futures.ThreadPoolExecutor() as executor:
    futures = []       # List to hold the future objects
    for elem in plate_borders:
        futures.append(
            executor.submit(
                lambda elem: elem.get_attribute("innerHTML"),
                elem = elem
            )
        )
    
    # Html elements of the border we chose by css selector
    border_htmls =\
    [future.result() for future in concurrent.futures.as_completed(futures)]

#Close driver for good!
driver.quit()

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [C:\Users\Fardin\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

### Figure out how to parse the elements and pull out data

In [3]:
a = border_htmls[0]
a

'\n          <div class="number_plate ">\n          \n          <div class="fdg text-center even">\n          \n            <div class="duabi_new bigtxt ">\n             \n\t\t\t <div class="plate_code  one_sh sharjah_font1 sh_one web_shcode_on">3</div>\n              <div class="plate_img "> <img src="images/uae_sharjah.svg"> </div>\n              <div class="plate_nub one_sh sharjah_font1 web_shnum_on">344</div>\n\t\t\n              <div class="clearfix"></div>\n            </div>\n            \n            </div>\n          \n\t\t\t<div class="cftg text-center even">\n\t\t\t\t\t<div class="prices-single pdlft0"> \n\t\t\t\t\t\t<a href="tel:0509080500"><div class="robot  text-center txt17 textleft">0509080500</div> </a>\n\t\t\t\t\t\t<span class="txt24bld pricered text-center">\n\t\t\t\t\t\t\t<i>229,000 AED</i>\n\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\n\t\t\t\t\t</div>\n\t\t     </div>\n\t\t\t \n          </div>\n          \n         '

In [4]:
soup = bs(a, 'html.parser')
soup

<div class="number_plate">
<div class="fdg text-center even">
<div class="duabi_new bigtxt">
<div class="plate_code one_sh sharjah_font1 sh_one web_shcode_on">3</div>
<div class="plate_img"> <img src="images/uae_sharjah.svg"/> </div>
<div class="plate_nub one_sh sharjah_font1 web_shnum_on">344</div>
<div class="clearfix"></div>
</div>
</div>
<div class="cftg text-center even">
<div class="prices-single pdlft0">
<a href="tel:0509080500"><div class="robot text-center txt17 textleft">0509080500</div> </a>
<span class="txt24bld pricered text-center">
<i>229,000 AED</i>
</span>
</div>
</div>
</div>

In [5]:
code_regex = re.compile('.*plate_code.*')
soup.find('div', {"class" : code_regex})

In [6]:
number_regex = re.compile('.*plate_nub.*')
soup.find('div', {"class" : number_regex})

In [7]:
soup.find('span', {"class" : 'txt24bld pricered text-center'})

<span class="txt24bld pricered text-center">
<i>229,000 AED</i>
</span>

In [8]:
img_str = str(soup.find('div', {"class" : 'plate_img'}))
img_str

'<div class="plate_img"> <img src="images/uae_sharjah.svg"/> </div>'

In [9]:
img_regex = re.compile("images/(.*?)\.svg")
re.findall(img_regex,img_str)

['uae_sharjah']

### Pull out data from the html elements

In [10]:
code_list = []
number_list = []
price_list = []
city_list = []

for html_element in border_htmls:
    soup = bs(html_element, 'html.parser')
    
    # Find the code
    code_regex = re.compile('.*plate_code.*')
    code = soup.find('div', {"class" : code_regex}).text
    code_list.append(code)
    
    # Find number
    number_regex = re.compile('.*plate_nub.*')
    number = soup.find('div', {"class" : number_regex}).text
    number_list.append(number)
    
    # Price
    price = soup.find('span', {"class" : 'txt24bld pricered text-center'}).text
    price_list.append(price)
    
    #city 
    img_str = str(soup.find('div', {"class" : 'plate_img'}))
    img_regex = re.compile("images/(.*?)\.svg")
    city = re.findall(img_regex,img_str)[0]
    city_list.append(city)

### Create the dataset

In [11]:
df = pd.DataFrame({
    'code':code_list,
    'number':number_list,
    'price':price_list,
    'city':city_list,
})

# Remove new lines from price
# So that it shows up in csv
df['price'] = df['price'].replace('\n','', regex = True)

df

    code number        price         city
0      3    344  229,000 AED  uae_sharjah
1      U   1313  109,000 AED    duabi_new
2      H   3222   72,000 AED    duabi_new
3      3   4441   38,000 AED  uae_sharjah
4      3   7776   38,000 AED  uae_sharjah
..   ...    ...          ...          ...
595    P  16122     AED2,600    duabi_new
596    P  16133     AED2,600    duabi_new
597    P  16144     AED2,600    duabi_new
598    P  17133     AED2,600    duabi_new
599    P  17144     AED2,600    duabi_new

[600 rows x 4 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    600 non-null    object
 1   number  600 non-null    object
 2   price   600 non-null    object
 3   city    600 non-null    object
dtypes: object(4)
memory usage: 18.9+ KB

In [13]:
#Save as a csv
df.to_csv('datasets/scraped.csv', index = False)